<div class="section">
    	<div class="container">
            <%= render 'welcome/newPost', locals: { new_posts: @new_posts }%>
         
             <%= render 'welcome/recentPost' , locals: { posts: @posts }%>
        </div>
</div>
