<div class="container">
<p id="notice"><%= notice %></p>
    <h1>New Post</h1>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
        <%if key === 'success'%>
            <i class="fa fa-check mr-5" style="color: #3c763d"></i>
        <%end%>
        <%= value %></div>
    <% end %>
    <%= render 'form', post: @post %>
</div>

