// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.section-title {
    position: relative;
    margin-bottom: 20px !important;
}
.section-title h2 {
    color: #303e4b;
    position: relative;
    padding-bottom: 10px;
    font-size: 20px !important;
    text-transform: uppercase;
    font-weight: 600;
}
.section-title h2:after, .comment-box h3:after, .comment-form h3:after {
    position: absolute;
    content: '';
    width: 15%;
    height: 1px;
    background: #999;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.section-title:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background: #cacaca;
    bottom: 0;
    left: 0;
}

 .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
 .comments-list .comment {
  display: block;
  width: 100%;
  margin: 5px 0;
}
 .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
 .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
 .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
 .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
 .comments-list .comment > .comments-list {
  margin-left: 50px;
}
.comments-list p{
    margin:  0;
}
.content{
    resize: none;
}