.post-img {
    position: relative;
    overflow: hidden;
}
.new_posts .post-body {
    background: #0000007a;
}
.post-img:before {
    content: '';
    display: block;
    padding-top: 60%;
}

.post-img img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.post.post-thumb {
    overflow: hidden;
}
.post-title a{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    word-wrap: break-word;
    height: 50px;
}
.recent .post-title a{
    height: 40px;
}

.post .post-meta {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.post.post-thumb .post-title > a{
    transition: all 0.5s;
}
.post.post-thumb .post-title > a:hover{
    text-decoration: none;
    color: #69b74f;
}

/* POST SINGLE */
.post_content{
    text-align: justify;
    line-height: 1.5;
}
.post.post-thumb .post-body{
    width: 100%;
}

@media (max-width:468px){
    .post.post-thumb .post-body{
        padding: 10px 15px !important;
    }
    .post.post-thumb .post-title{
        font-size: 16px !important;
    }
    .post.post-thumb .post-title > a{
        height: 35px !important;
    }
}

table.dataTable.dtr-inline.collapsed tbody td:first-child:before, table.dataTable.dtr-inline.collapsed tbody th:first-child:before{
    top: unset !important;
}
table.table-bordered tbody th, table.table-bordered tbody td{
    padding: 5px;
}

.devide{
    border-left: 1px solid #ccc;
    margin: 0 5px;
}
.post-content .form-control{
    height: unset;
}
.page-header h1{
    font-size: 25px !important;
}
.ql-align-center{
    text-align: center;
}
.nav-btns > a{
    color: #3d455c;
    padding: 25px 0;
    border: none;
    line-height: 20px;
    background: transparent;
}
.nav-btns > a:hover{
    text-decoration: none;
}
.log-out{
    font-weight: inherit !important;
    font-size: 12px;
    color: #00bfbf !important;
    transition: 0.5s all;
}
.log-out:hover{
    color: #3d455c;
}
.login{
    max-width: 500px;
    margin: 0 auto;
}
.login h2{
    font-size: 35px;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
.page-header .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}